test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# customisations
.build
!.build/gitignore
!.build/files/
!.build/files/**

.vscode/settings.json
# Temporary whilst trying out some rules:
.cursor/rules

# Docker
.devcontainer/.env
docker-compose.override.yml
