*:focus {
  outline: solid blue 1px;
  outline-offset: -1px;
}
*[tabindex='0'] {
  cursor: pointer;
}

.sbr-focus-sibling {
  outline: solid lightblue 1px;
  outline-offset: -1px;
  background-color: lightcyan;
  /* border-style: dotted;
  border-width: 1px;
  border-color: blue; */
}

.app-drawer {
  background-color: burlywood;
}
